<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!-- Application Settings for the Logger -->
    <add key="logFileName" value="logs\SmartPayNotification.log"/>
    <add key="rollSizeKB" value="5000"/>

    <!--rollInterval options are Week, Day, Hour, Midnight, Minute, Month, and Year
    default is Week-->
    <add key="rollInterval" value="Week"/>
  </appSettings>

  <system.serviceModel>

    <bindings>
      <!--<wsHttpBinding>
        <binding name="wsHttpdBindingConfig">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>-->
      <!--<basicHttpBinding>
        <binding name="basicHttpdBindingConfig1">
          <security mode="Transport">
          </security>
        </binding>
        <binding name="basicHttpdBindingConfig2">
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>-->
      <webHttpBinding>
        <binding name="webHttpdBindingConfig">
          <security mode="Transport"/>
        </binding>
        <binding name="nonSSL">
          <security mode="None"/>
        </binding>
        
        <!-- Binding configuration for REST service. This configuration is specifying the custom content type class
        allowing users of the service to send any type and the class will convert it to raw allowing it to be converted
        to a string and used by the logger.
        -->
        <binding name="WebHttpBindingSetting" maxBufferSize="2147483647"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          contentTypeMapper="BarclaycardSmartPayNotificationService.SmartPayNotificationContentTypeMapper, 
          BarclaycardSmartPayNotificationService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      
        <!-- Note: the service name must match the configuration name for the service implementation. -->
        <!--<service name="MyNamespace.MyServiceType" behaviorConfiguration="MyServiceTypeBehaviors" >-->
          <!-- Add the following endpoint.  -->
          <!-- Note: your service must have an http base address to add this endpoint. -->
          <!--<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />-->
        <!--</service>-->
      

      <service name="BarclaycardSmartPayNotificationService.SmartPayNotificationService">
        <clear/>
        <!--<endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpdBindingConfig" contract="BarclacardSmartPayNotificationService.ISmartPayNotificationService" />-->
        <!--<endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" bindingConfiguration="webHttpdBindingConfig" contract="BarclacardSmartPayNotificationService.ISmartPayNotificationService"/>-->
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" bindingConfiguration="WebHttpBindingSetting" contract="BarclaycardSmartPayNotificationService.ISmartPayNotificationService"/>
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpdBindingConfig2" contract="BarclacardSmartPayNotificationService.ISmartPayNotificationService" />-->
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://*/SmartPayNotification/SmartPayNotificationService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true" faultExceptionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
