<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="authorizationClientPlatforms" type="AuthorizationClientPlatforms.Settings.AuthorizationClientPlatformsSection, AuthorizationClientPlatforms" />
  </configSections>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <exceptionMarshalling/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IApiService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://paydirectapi.link2gov.com/ApiService.svc/ApiService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApiService"
          contract="PayDirect.IApiService" name="BasicHttpBinding_IApiService"
          behaviorConfiguration="endpointBehavior" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="exceptionMarshalling"
          type="AuthorizationClientPlatforms.WcfExtensions.ExceptionMarshallingElement, AuthorizationClientPlatforms, 
                Version=2.0.12.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>

  <authorizationClientPlatforms>

    <authorizationProcessors>
      <processor name="fis-paydirect" description="FIS PayDirect"
                 server="Manirith-Thinkc"
                 endpoint="https://paydirectapi.ca.link2gov.com/ApiService.svc/ApiService.svc"
                 />
    </authorizationProcessors>

  </authorizationClientPlatforms>

</configuration>