<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cctm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="authorizationClientPlatforms" type="AuthorizationClientPlatforms.Settings.AuthorizationClientPlatformsSection, AuthorizationClientPlatforms" />
  </configSections>
  <appSettings>
    <add key="Monetra_HostName" value="db5"/>
    <add key="Monetra_ServerSocket" value="8444"/>
    <add key="Poll_Interval_Seconds" value="10"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Cctm.Properties.Settings.SSPM_DBConnectionString"
      connectionString="Data Source=vayu;Initial Catalog=SSPM-DB;Persist Security Info=True;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <Cctm.Properties.Settings>
      <setting name="MaxSimultaneous" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>Logs</value>
      </setting>
      <setting name="ReceiptServer" serializeAs="String">
        <value />
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>http://db5:1111/ValidateCard.svc/SubmitRequest</value>
      </setting>
      <setting name="IsraelMerchantNumber" serializeAs="String">
        <value>0963185013</value>
      </setting>
      <setting name="IsraelCashierNumber" serializeAs="String">
        <value>01</value>
      </setting>
    </Cctm.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIsraelProcessorService">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:56341/israelprocessor" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIsraelProcessorService" contract="IsraelProcessor.IIsraelProcessorService" name="BasicHttpBinding_IIsraelProcessorService"/>
    </client>
  </system.serviceModel>

  <authorizationClientPlatforms>

    <authorizationProcessors>
      <processor name="fis-paydirect" description="FIS PayDirect"
                 server="miramesa"
                 endpoint="https://paydirectapi.ca.link2gov.com/ApiService.svc/ApiService.svc"
                 />
    </authorizationProcessors>

  </authorizationClientPlatforms>
</configuration>
