<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <add key="PluginAssembly" value="FisPayDirectPlugin" />
    <add key="PluginClass" value="AuthorizationClientPlatforms.Plugins.FisPayDirectPlugin" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="AuthorizationClientPlatforms.AuthorizationProcessor">
        <host>
          <baseAddresses>
            <add baseAddress="https://*:56341/AuthorizationProcessors/Fis-PayDirect/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_IAuthorizationProcessor"
                  contract="AuthorizationClientPlatforms.IAuthorizationProcessor"
                  behaviorConfiguration="endpointBehavior"
                  />
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <exceptionMarshalling/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>

          <exceptionMarshalling/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="exceptionMarshalling"
          type="AuthorizationClientPlatforms.WcfExtensions.ExceptionMarshallingElement, AuthorizationClientPlatforms"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthorizationProcessor">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IApiService">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://paydirectapi.link2gov.com/ApiService.svc/ApiService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApiService"
          contract="PayDirect.IApiService" name="BasicHttpBinding_IApiService" />
    </client>
  </system.serviceModel>
</configuration>
