<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IApiService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://paydirectapi.link2gov.com/ApiService.svc/ApiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IApiService"
                contract="PayDirect.IApiService" name="BasicHttpBinding_IApiService" />
        </client>
    </system.serviceModel>
</configuration>