<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Rtcc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Rtcc.Properties.Settings.ConnectionString" connectionString="Data Source=DB5;Initial Catalog=SSPM-DB;Persist Security Info=True;User ID=mike;Password=mike;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetActiveParkingInformationSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IIsraelProcessorService">
                  <security mode="Transport"/>
                </binding>
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.2.243:8080/GetActiveParkingInformation.asmx" binding="basicHttpBinding" bindingConfiguration="GetActiveParkingInformationSoap" contract="PayByCell.GetActiveParkingInformationSoap" name="GetActiveParkingInformationSoap"/>
            <endpoint address="https://localhost:56341/israelprocessor" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIsraelProcessorService" contract="IsraelProcessor.IIsraelProcessorService" name="BasicHttpBinding_IIsraelProcessorService"/>

        </client>
    </system.serviceModel>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Rtcc.Properties.Settings>
            <setting name="ListenPort" serializeAs="String">
                <value>3002</value>
            </setting>
            <setting name="MontraHostName" serializeAs="String">
                <value>DB5</value>
            </setting>
            <setting name="MonetraPort" serializeAs="String">
                <value>8444</value>
            </setting>
            <setting name="DetailedLoggingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="ReceiptServer" serializeAs="String">
                <value>http://db5:1111/ValidateCard.svc/SubmitRequest</value>
            </setting>
            <setting name="IsraelMerchantNumber" serializeAs="String">
                <value>0963185013</value>
            </setting>
            <setting name="IsraelCashierNumber" serializeAs="String">
                <value>01</value>
            </setting>
        </Rtcc.Properties.Settings>
    </userSettings>
</configuration>
