<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIsraelProcessorService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:56341/israelprocessor" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IIsraelProcessorService"
        contract="IsraelProcessor.IIsraelProcessorService" name="BasicHttpBinding_IIsraelProcessorService" />

    </client>
  </system.serviceModel>
</configuration>