<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="PaymentHttpBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment"
          binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding"
          contract="SmartPay.PaymentPortType" name="PaymentHttpPort" />
    </client>
  </system.serviceModel>
</configuration>